<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/style.css?v=12' | relative_url }}">
  </head>

  <body>
    <header>
      <h1 class="site-title">
        <a href="{{ site.baseurl }}/" style="text-decoration:none; color: inherit;">
          {{ site.title }}
        </a>
      </h1>
      <div class="site-desc">{{ site.description }}</div>

      <nav class="site-nav">
        <a href="{{ site.baseurl }}/">Home</a>
        <a href="{{ site.baseurl }}/books">Books</a>
        <a href="{{ site.baseurl }}/poetry">Poetry</a>
        <a href="{{ site.baseurl }}/essays">Essays</a>
        <a href="{{ site.baseurl }}/screenplays">Screenplays</a>
        <a href="{{ site.baseurl }}/fragments">Fragments</a>
        <a href="{{ site.baseurl }}/about">About</a>
      </nav>
      <hr />
    </header>

    <main>
      {{ content }}
    </main>
  </body>
</html>
